*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
:root {
   --container-width: 1278px;
   --main-color: #FC6A57;
}
/* .body {
   font-family: 'Baloo 2', cursive;
   font-family: 'Nunito', sans-serif;
   background: #E5E5E5;
} */

body {
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    /* background: #E5E5E5; */
    color: var(--main-color);
 }

.container {
   /* max-width: 100%; */
}
.logo {
   font-family: 'Baloo 2', cursive;
   font-size: 30px;
   line-height: 48px;
   color: var(--main-color);
}

.logo {
  font-family: 'Baloo 2';
  font-size: 30px;
  line-height: 48px;
  color: var(--main-color);
  font-family: 'Baloo 2', cursive;
  font-family: 'Nunito', sans-serif;
}
.header {
   /* position: relative;
   max-width: 100%; */
   background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);
}
.menu-container {
  padding-bottom: 40px;
  padding-top: 40px;
  /* width: 100%; */
  /* background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%); */
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 1280px;
  margin: 0 auto;

}

.header-position {
  /* width: 100%;
  position: relative; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logonav {
  /* position: absolute;
  left: 80px; */
  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 30px;
  line-height: 47px;
  color: var(--main-color);
}

.navigation {
  /* display: flex;
  justify-content: right;
  padding-left: 518px; */
}

.menu-items {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 50px;
  color: var(--main-color);
}

.menu-items-active {
   background: var(--main-color);
   border-radius: 20px;
   color: #FFFFFF;
   padding: 9px 20px;
}

.ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333333;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: var(--main-color);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.white-gradient {
  width: 100%;
  height: 60px;
  left: 0px;
  top: 120px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.hero-block-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* width: 100%; */
    /* height: 760px; */
    /* padding-top: 17px; */
    max-width: 1280px;
    margin: 0 auto;
    /* align-items: center; */
    position: relative;
}

.hero-block-left {
  /* display: flex;
  justify-content: flex-start; */
  position: relative;
}

.mainpic {
    /* height: 460px; * */
    max-width: 460px;
    border-radius: 50%;
    /* border: 8px solid #FFFFFF; */
    z-index: 7;
    position: relative;
    right: -70px;
    top: 70px;
}

.bubbles-block {
  /* height: 640px;
  width: 640px;
  top: 120px;
  transform: translate(-400px, -80px);
  z-index: auto; */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.animbubbles {

}

.about{
    flex: 0 0 640px;
}

.maintitle{
    font-family: 'Baloo 2';
    font-size: 80px;
    line-height: 128px;
}

.about-text{
    font-size: 20px;
    line-height: 140%;
}

#countdown::before{
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #FFF5F5;
    width: 318px;
    height: 318px;
    mix-blend-mode: multiply;
}

.countdown-text{
    position: absolute;
    text-align: center;
}

#countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 65px;
    bottom: 0;
}

.expiredcontainer::after{
    content: "";
    border-radius: 50%;
    background-color: #FFF5F5;
    width: 130px;
    height: 130px;
    mix-blend-mode: multiply;
} 

#countdownexpired{
    position: absolute;
    
}

#countdownfunc{
    font-family: 'Baloo 2', cursive;
   font-size: 30px;
}

.expiredcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.brands-heading {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 158px auto 0;
  position: relative;
}

.brands-title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.block-brands-name {
  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 40px;
  line-height: 63px;
}

.dot-s {
  height: 20px;
  width: 20px;
  background-color: #FFF5F5;
  border-radius: 50%;
  display: inline-block;
}

.dot-b {
  height: 48px;
  width: 48px;
  background-color: #FFF5F5;
  border-radius: 50%;
  display: inline-block;
}

.brandscards-row {
  display: flex;
  max-width: 1024px;
  margin: 38px auto 0;
  justify-content: space-between;
}

.brand-card {
  border: 1px solid #FC6A57;
  border-radius: 6px;
}

.star-icon {
  margin: 20px 0 0 20px;
}

.brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #FC6A57;
  border-radius: 6px;
}
